/* src/App.css */
.Home {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 20px;
    background-color: rgb(85, 138, 184);
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

form div {
    margin-bottom: 10px;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input,
form textarea {
    width: calc(100% - 20px);
    padding: 8px;
    margin: 0 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

form .error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    margin: 10px;
    background-color: #fff;
    width: 200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}